* {
    padding: 0;
    margin: 0;
    font-size: 16px;
}

.band--photo-fixed {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 0;
    opacity: .8;
    background-color: black;
}

header {
    z-index: 1;
    position: relative;
    padding: 0rem;
    width: 100%;
    background-color: black;
    opacity: 0.8;
}

button {
    background: transparent;
    border: none;
}

.header--menu-button {
    height: 5rem;
    width: auto;
    text-align: left;
    z-index: 10;
}

.header--logo {
    width: 100%;
    text-align: center;
    padding-bottom: 2rem;
    z-index: 1;
}

main {
    z-index: 1;
    height: 100rem;
    background-color: black;
    position: relative;
    width: 100%;
}

button:hover {
    cursor: pointer;
}