* {
    padding: 0;
    margin: 0;
    font-size: 16px;
    color: rgb(217, 215, 215);
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

.band--photo-fixed {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 0;
    opacity: .8;
    background-color: black;
}

hr {
    margin: 1rem 10rem;
}

header {
    z-index: 1;
    position: relative;
    padding: 0rem;
    width: 100%;
    background-color: black;
    opacity: 0.8;
}

button {
    background: transparent;
    border: none;
}

.header--menu-button {
    height: 5rem;
    width: auto;
    text-align: left;
    z-index: 10;
}

.header--logo {
    width: 100%;
    text-align: center;
    padding-bottom: 2rem;
    z-index: 1;
}

main {
    z-index: 1;
    height: 150rem;
    background-color: black;
    position: relative;
    width: 100%;
}

.menu {
    display: flex;
    justify-content: center;
    position: sticky;
    background-color: black;
    top: 0;
    padding: 0.5rem 1rem 0;
}

.menu--item {
    color: white;
    margin: 0 4rem ;
    font-size: 1.5rem;
}

section {
    margin: 3rem 0;
}

.section--title {
    text-align: center;
    padding: 1rem;
}

.artwork {
    height: 30rem;
}

.release--links {
    display: flex;
    justify-content: space-between;
    margin: 3rem 20rem;
}

.release--links nav {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 30rem;
}

.streaming--service-logo {
    width: 15rem;
    height: auto;
    color: white;
}

#merch--section {
    padding: 1rem 10rem;
}

.merch--menu {
    display: flex;
    justify-content: left;
    width: 100%;
}

.merch--image-description {
 display: flex;
 flex-direction: column;
 width: 20rem;
 height: 26rem;
 align-items: center;
 justify-content: space-between;
}

.merch--image {
    height: 23rem;
}

.merch--description {
    font-size: 1.5rem;
    text-decoration: none;
}

button:hover,
a:hover {
    cursor: pointer;
    opacity: .6;
}