@font-face {
    font-family: 'bebas';
    src: url("../fonts/Bebas-Regular.ttf")format('truetype');
}

* {
    background-color: black;
    padding: 0;
    margin: 0;
    font-family: 'bebas';
    letter-spacing: 0.03rem;;
    font-size: 16px;
    color: rgb(217, 215, 215);
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

a,
button {
    transition: all 0.05s linear;
}

#merch--section,
#shows--section,
#music--section {
    padding: 1rem 1rem;
}

#menu--window {
    display: none;
    position: fixed;
    background-color: black;
    z-index: 5;
    opacity: .95;
    width: 100%;
    height: 100%;
}


#window--menu-button {
    height: 5rem;

}

.band--photo-fixed {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 0;
    opacity: .8;
    background-color: black;
}

.window--nav {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 25rem;
    margin: 5rem 0;
    text-align: center;
    justify-content: space-between;
    align-items: center;
}

.window--nav a {
    font-size: 3rem;
    text-decoration: none;
}

hr {
    margin: 1rem 10rem;
    color: #444444;
}

header {
    z-index: 1;
    position: relative;
    padding: 0rem;
    width: 100%;
    background-color: black;
    opacity: 0.8;
}

button {
    background: transparent;
    border: none;
}

#header--menu-button {
    height: 5rem;
    width: auto;
    text-align: left;
    z-index: 10;
}

.header--logo {
    width: 100%;
    text-align: center;
    padding-bottom: 2rem;
    z-index: 1;
}

main {
    z-index: 1;
    background-color: black;
    position: relative;
    width: 100%;
    height: 100%;
}

.menu {
    display: flex;
    justify-content: space-between;
    position: sticky;
    background-color: black;
    top: 0;
    padding: 0.5rem 10rem 0;
    
}

.menu--item {
    color: white;
    font-size: 1.5rem;
}

section {
    margin: 3rem 0;
}

.section--title {
    text-align: center;
    padding: 1rem;
    text-decoration: underline;
}

.latest--release {
    text-align: center;
}

.artwork {
    height: 30rem;
    margin: 0 2rem;
}

.release--links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 3rem 0;
}

.release--links nav {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 30rem;
}

.promo--video {
    text-align: center;
}

.promo--video iframe {
    height: 30rem;
    width: 50rem;
}

.streaming--service-logo {
    width: 15rem;
    height: auto;
    color: white;
}

.merch--menu {
    display: flex;
    justify-content: center;
    width: 100%;
}

.merch--image-description {
 display: flex;
 flex-direction: column;
 width: 20rem;
 height: 26rem;
 align-items: center;
 justify-content: space-between;
}

.merch--image {
    height: 23rem;
}

.merch--description {
    font-size: 1.5rem;
    text-decoration: none;
}


.show--menu {
    text-align: center;
    width: 100%;
}

.show--container {
    padding: 0 10rem;
    display: flex;
    font-size: 2rem;
    justify-content: space-between;
    flex-direction: row wrap;
}

.show--seperator {
    opacity: 0.5;
}

.show--placeholder {
    display: flex;
    justify-content: center;
    width: 100%;
}

.location {
    margin: 0 1rem;
}

.date,
.location,
.tickets {
    font-size: 1.3rem;
}

.tickets {
    padding: 0.2rem 0.5rem;
    max-height: 3.5rem;
    background-color: #333;
    border-radius: 15%;
    text-decoration: none;
}

.contact--container {
    display: flex;
    justify-content: center;
}

footer {
    position: relative;
    z-index: 1;
    width: 100%;
    margin: 0;
    height: 50px;
}

.copyright {
    display: inline;
    bottom: 0;
    opacity: 0.6;
}

.social--media-links {
    text-align: center;
}

.footer--content {
    padding: 1rem;
}

.social--widget img {
    height: 2rem;
    margin: 0 1rem;
}

button:hover,
a:hover {
    cursor: pointer;
    opacity: .6;
}

@media only screen and (max-width: 1125px) {
    * {
      font-size: 12px;
    }
  }

  @media only screen and (max-width: 650px) {
    * {
      font-size: 10px;
    }

    .artwork {
        height: 25rem;
        margin: 0 2rem;
    }

    .merch--image {
        height: 18rem;
    }

    .merch--image-description {
        height: 21rem;
    }

    .menu {
        padding: 0.5rem 5rem 0;
    }

    .show--container {
        padding: 0 3rem;
    }
  }